.profileSection {
  padding: 64px 0;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.avatar {
  margin-bottom: 16px;
  background-color: rgb(37, 35, 35);
  border-radius: 45%;
}
.name {
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: 16px;
}
.text {
  color: rgb(43, 42, 42);
  font-size: x-large;
  margin-bottom: 8px;
}
.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.listItem {
  display: flex;
  flex-direction: column;
  min-width: 146px;
  padding: 14px 0;
  border: 1px solid rgb(76, 73, 73);
  background-color: rgb(150, 164, 175);
}
.listItem:first-child {
  border-radius: 10px 0 0 10px;
  border-right: none;
}
.listItem:last-child {
  border-radius: 0 10px 10px 0;
  border-left: none;
}
.amount {
  font-weight: bold;
}
