.friendName {
  font-weight: bold;
  text-align: center;
}

.online {
  color: rgb(35, 171, 76);
  text-align: center;
}
.offline {
  color: brown;
  font-size: small;
  text-align: center;
  margin-top: 4px;
}
